name: Deploy to GitHub Pages

on:
  push:
    branches: [ "master" ]
    paths: [ "docs/**" ]

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        working-directory: ./docs
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        working-directory: ./docs
        run: yarn install --frozen-lockfile

      - name: Build website
        working-directory: ./docs
        run: yarn build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com